/* line 1, ../saas/vstore.scss */
html {
  font-family: sans-serif;
}

/* line 5, ../saas/vstore.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 10, ../saas/vstore.scss */
body, html {
  height: 100%;
}

/* line 14, ../saas/vstore.scss */
a {
  text-decoration: none;
}
/* line 16, ../saas/vstore.scss */
a:visited {
  color: #818181;
}
/* line 19, ../saas/vstore.scss */
a:hover {
  color: #ea4703;
}

/* line 25, ../saas/vstore.scss */
.margenes {
  width: 80%;
  background-color: red;
  left: 0%;
  right: 0%;
  margin-left: auto;
  margin-right: auto;
}

/* line 35, ../saas/vstore.scss */
.bar {
  background-color: white;
  height: 4em;
  position: absolute;
  z-index: 99;
  width: 100%;
}
/* line 41, ../saas/vstore.scss */
.bar .margen {
  padding-left: 3em;
  padding-right: 3em;
}
/* line 44, ../saas/vstore.scss */
.bar .margen .logo {
  padding-top: 0.2em;
  width: 100%;
  float: left;
}
/* line 49, ../saas/vstore.scss */
.bar .margen .menu {
  display: none;
  width: 70%;
  color: #818181;
  font-size: 0.9em;
  overflow: hidden;
}
/* line 55, ../saas/vstore.scss */
.bar .margen .menu li {
  padding-top: 1em;
  padding-right: 6%;
  list-style: none;
  float: right;
}

/* --------------------------- INDEX ---------------------------- */
/* line 67, ../saas/vstore.scss */
.banner {
  background-image: url(../../img/banner.svg);
  background-size: cover;
  height: 80%;
  background-repeat: no-repeat;
  position: relative;
  min-height: 90%;
}
/* line 74, ../saas/vstore.scss */
.banner .izq {
  float: left;
  width: 100%;
  height: 100%;
  padding-top: 7em;
}
/* line 81, ../saas/vstore.scss */
.banner .te {
  color: white;
  float: left;
  font-size: 1.2em;
  line-height: 1.3em;
}
/* line 86, ../saas/vstore.scss */
.banner .te .sub {
  font-size: 1.9em;
  line-height: 1em;
}
/* line 91, ../saas/vstore.scss */
.banner .der {
  float: right;
  width: 50%;
  height: 100%;
}
/* line 95, ../saas/vstore.scss */
.banner .der .mano {
  display: none;
  position: absolute;
  bottom: 0;
  right: 3em;
}
/* line 101, ../saas/vstore.scss */
.banner .der .mano img {
  max-width: 80%;
}

/* line 107, ../saas/vstore.scss */
.rombo {
  padding: 7%;
  margin-top: 1em;
  text-align: left;
  clear: both;
  position: relative;
  overflow: hidden;
}
/* line 115, ../saas/vstore.scss */
.rombo .columna {
  float: center;
  padding: 0.5em;
}
/* line 118, ../saas/vstore.scss */
.rombo .columna .tit {
  font-size: 1.5em;
  color: #fc5935;
}
/* line 122, ../saas/vstore.scss */
.rombo .columna .sub {
  font-size: 2em;
  color: #757575;
}

/* line 128, ../saas/vstore.scss */
.alianzas {
  padding: 7%;
  background-color: #f8f8f8;
}
/* line 131, ../saas/vstore.scss */
.alianzas .tit {
  font-size: 2em;
  color: #757575;
}
/* line 134, ../saas/vstore.scss */
.alianzas .tit .sub {
  color: #fc5935;
}
/* line 138, ../saas/vstore.scss */
.alianzas .cont {
  clear: both;
  position: relative;
  overflow: hidden;
}
/* line 142, ../saas/vstore.scss */
.alianzas .cont .col1 {
  padding: 0.5em;
}
/* line 144, ../saas/vstore.scss */
.alianzas .cont .col1 .tit {
  font-size: 1.4em;
}
/* line 147, ../saas/vstore.scss */
.alianzas .cont .col1 .texto {
  padding-left: 1.2em;
  color: #757575;
}
/* line 152, ../saas/vstore.scss */
.alianzas .cont .col2 {
  padding: 0.5em;
}
/* line 154, ../saas/vstore.scss */
.alianzas .cont .col2 .tit {
  font-size: 1.4em;
}
/* line 157, ../saas/vstore.scss */
.alianzas .cont .col2 .texto {
  padding-left: 1.2em;
  color: #757575;
}

/* line 164, ../saas/vstore.scss */
.beneficios {
  padding: 7%;
  background-image: url(../../img/banner2.png);
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  position: relative;
  min-height: 30%;
}
/* line 172, ../saas/vstore.scss */
.beneficios .tit {
  font-size: 2em;
  color: #757575;
}
/* line 175, ../saas/vstore.scss */
.beneficios .tit .sub {
  color: #fc5935;
}
/* line 179, ../saas/vstore.scss */
.beneficios .cont {
  clear: both;
  position: relative;
  overflow: hidden;
}
/* line 183, ../saas/vstore.scss */
.beneficios .cont p {
  color: white;
  font-size: 0.8em;
  padding-top: 7%;
  padding-left: 42%;
  line-height: 1.3em;
}
/* line 190, ../saas/vstore.scss */
.beneficios .cont .col1 {
  padding-bottom: 1em;
  margin-top: 1em;
  background-image: url(../../img/beneficio1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}
/* line 198, ../saas/vstore.scss */
.beneficios .cont .col2 {
  padding-bottom: 1em;
  margin-top: 1em;
  background-image: url(../../img/beneficio2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}
/* line 206, ../saas/vstore.scss */
.beneficios .cont .col3 {
  padding-bottom: 1em;
  margin-top: 1em;
  background-image: url(../../img/beneficio3.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}
/* line 214, ../saas/vstore.scss */
.beneficios .cont .col4 {
  padding-bottom: 1em;
  margin-top: 1em;
  background-image: url(../../img/beneficio4.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

/* line 224, ../saas/vstore.scss */
.exito {
  padding: 7%;
  background-color: #ffffff;
}
/* line 229, ../saas/vstore.scss */
.exito .tit {
  font-size: 2em;
  color: #757575;
}
/* line 232, ../saas/vstore.scss */
.exito .tit .sub {
  color: #fc5935;
}
/* line 236, ../saas/vstore.scss */
.exito .cont {
  text-align: center;
  clear: both;
  position: relative;
  overflow: hidden;
}
/* line 241, ../saas/vstore.scss */
.exito .cont .col {
  padding: 0.5em;
}

/* line 247, ../saas/vstore.scss */
.cupon {
  padding: 7%;
  background-color: #f6f6f6;
  padding-top: 2em;
  text-align: center;
  clear: both;
  position: relative;
  overflow: hidden;
}
/* line 256, ../saas/vstore.scss */
.cupon .col {
  float: center;
  padding: 0.5em;
}
/* line 260, ../saas/vstore.scss */
.cupon .col2 {
  vertical-align: top;
  float: center;
  padding: 0.5em;
}
/* line 264, ../saas/vstore.scss */
.cupon .col2 .texto {
  text-align: left;
  color: #696969;
  line-height: 1.3em;
}
/* line 268, ../saas/vstore.scss */
.cupon .col2 .texto .nar {
  color: #ea4703;
}

/* line 276, ../saas/vstore.scss */
.info {
  background-color: #dfdfdf;
  padding-left: 7%;
  padding-top: 2em;
  padding-right: 7%;
}
/* line 281, ../saas/vstore.scss */
.info .cont {
  clear: both;
  position: relative;
  overflow: hidden;
}
/* line 285, ../saas/vstore.scss */
.info .cont .col1 {
  vertical-align: top;
}
/* line 287, ../saas/vstore.scss */
.info .cont .col1 .tit {
  color: white;
  font-size: 2em;
}
/* line 292, ../saas/vstore.scss */
.info .cont .col2 {
  float: center;
  padding: 0.5em;
  color: #a8a8a8;
}
/* line 296, ../saas/vstore.scss */
.info .cont .col2 .tit {
  color: #6f6f6f;
  font-size: 1em;
}
/* line 299, ../saas/vstore.scss */
.info .cont .col2 .tit .sub {
  font-size: 1.5em;
}

/* --------------------------- FIN INDEX ---------------------------- */
/* --------------------------- CARACTERÍSTICAS Y BENEFICIOS ---------------------------- */
/* line 312, ../saas/vstore.scss */
.banner2 {
  background-color: #3fc0c0;
  height: 4.5em;
}

/* line 317, ../saas/vstore.scss */
.titulo {
  text-align: center;
}
/* line 319, ../saas/vstore.scss */
.titulo .tit {
  color: #d7d7d7;
  font-size: 1.5em;
  margin: 0;
  padding-top: 1.4em;
}
/* line 324, ../saas/vstore.scss */
.titulo .tit .punto {
  color: #fc5935;
  margin: 0;
}
/* line 329, ../saas/vstore.scss */
.titulo .sub {
  color: #4c4c4c;
  font-size: 0.6em;
}
/* line 332, ../saas/vstore.scss */
.titulo .sub .aqui {
  color: #fc5935;
}

/* line 337, ../saas/vstore.scss */
.separador {
  padding-top: 1em;
}
/* line 339, ../saas/vstore.scss */
.separador hr {
  color: #ebebeb;
  width: 85%;
}

/* line 344, ../saas/vstore.scss */
.contenido {
  padding: 7%;
  text-align: left;
  clear: both;
  position: relative;
  overflow: hidden;
}
/* line 350, ../saas/vstore.scss */
.contenido .nar {
  color: #fc5935;
}
/* line 353, ../saas/vstore.scss */
.contenido .tit {
  text-align: center;
  color: #fc5935;
  font-size: 1.4em;
}
/* line 358, ../saas/vstore.scss */
.contenido .columna {
  text-align: center;
  float: center;
  padding: 0.5em;
}
/* line 363, ../saas/vstore.scss */
.contenido .columna2 {
  color: #4c4c4c;
  line-height: 1.6em;
}
/* line 366, ../saas/vstore.scss */
.contenido .columna2 ul {
  color: #4c4c4c;
  font-size: 1em;
}
/* line 369, ../saas/vstore.scss */
.contenido .columna2 ul ul {
  color: #8f8f8f;
}
/* line 374, ../saas/vstore.scss */
.contenido .componentes {
  text-align: center;
  float: center;
  padding: 0.5em;
}
/* line 378, ../saas/vstore.scss */
.contenido .componentes .espacio {
  padding-top: 2em;
}

/* --------------------------- FIN CARACTERÍSTICAS Y BENEFICIOS ---------------------------- */
/* --------------------------- COMPONENTES ---------------------------- */
/* line 388, ../saas/vstore.scss */
.compi {
  padding-left: 30%;
  padding-right: 30%;
  text-align: center;
  clear: both;
  position: relative;
  overflow: hidden;
}
/* line 395, ../saas/vstore.scss */
.compi .columna {
  text-align: center;
  float: center;
  padding: 0.5em;
}
/* line 400, ../saas/vstore.scss */
.compi p {
  font-size: 0.9em;
  color: #818181;
}

/* --------------------------- FIN COMPONENTES ---------------------------- */
/* line 409, ../saas/vstore.scss */
footer {
  font-size: 0.7em;
  text-align: center;
  color: white;
  background-color: #484848;
  padding: 1em;
}
