/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* --------------------------- INDEX ---------------------------- */
  /* line 11, ../saas/vstoremedias.scss */
  .bar .margen {
    padding-left: 3em;
    padding-right: 3em;
  }
  /* line 14, ../saas/vstoremedias.scss */
  .bar .margen .logo {
    width: 30%;
    float: left;
    padding-top: 0.5em;
  }
  /* line 18, ../saas/vstoremedias.scss */
  .bar .margen .logo img {
    width: 80%;
  }
  /* line 22, ../saas/vstoremedias.scss */
  .bar .margen .menu {
    display: block;
    float: right;
    width: 70%;
    padding-top: 0.5em;
  }

  /* line 31, ../saas/vstoremedias.scss */
  .beneficios {
    height: 50%;
  }
  /* line 33, ../saas/vstoremedias.scss */
  .beneficios .col1 {
    margin-left: 2.5em;
    width: 40%;
    display: inline-block;
    background-size: 70%;
  }
  /* line 40, ../saas/vstoremedias.scss */
  .beneficios .col2 {
    margin-left: 2.5em;
    width: 40%;
    display: inline-block;
    background-size: 70%;
  }
  /* line 47, ../saas/vstoremedias.scss */
  .beneficios .col3 {
    margin-left: 2.5em;
    width: 40%;
    display: inline-block;
    background-size: 70%;
  }
  /* line 54, ../saas/vstoremedias.scss */
  .beneficios .col4 {
    margin-left: 2.5em;
    width: 40%;
    display: inline-block;
    background-size: 70%;
  }
  /* line 61, ../saas/vstoremedias.scss */
  .beneficios .cont {
    clear: both;
    position: relative;
    overflow: hidden;
  }
  /* line 65, ../saas/vstoremedias.scss */
  .beneficios .cont p {
    color: white;
    font-size: 0.8em;
    padding-top: 2%;
    padding-left: 42%;
    line-height: 1.3em;
  }

  /* --------------------------- FIN INDEX ---------------------------- */
  /* --------------------------- CARACTERÍSTICAS Y BENEFICIOS ---------------------------- */
  /* line 79, ../saas/vstoremedias.scss */
  .contenido {
    padding-top: 2em;
  }
  /* line 81, ../saas/vstoremedias.scss */
  .contenido .tit {
    text-align: left;
  }
  /* line 84, ../saas/vstoremedias.scss */
  .contenido .columna {
    text-align: left;
    vertical-align: top;
    width: 30%;
    display: inline-block;
  }
  /* line 90, ../saas/vstoremedias.scss */
  .contenido .columna2 {
    vertical-align: top;
    width: 30%;
    display: inline-block;
  }
  /* line 95, ../saas/vstoremedias.scss */
  .contenido .componentes {
    vertical-align: top;
    width: 23%;
    display: inline-block;
  }

  /* --------------------------- FIN CARACTERÍSTICAS Y BENEFICIOS ---------------------------- */
  /* --------------------------- CLIENTES ---------------------------- */
  /* line 105, ../saas/vstoremedias.scss */
  .contenido .columna3 {
    vertical-align: top;
    width: 60%;
    display: inline-block;
  }

  /* --------------------------- FIN CLIENTES ---------------------------- */
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* --------------------------- INDEX ---------------------------- */
  /* line 119, ../saas/vstoremedias.scss */
  .bar {
    height: 6em;
  }
  /* line 121, ../saas/vstoremedias.scss */
  .bar .margen {
    padding-left: 3em;
    padding-right: 3em;
  }
  /* line 124, ../saas/vstoremedias.scss */
  .bar .margen .logo {
    width: 30%;
    float: left;
    padding-top: 0.5em;
  }
  /* line 128, ../saas/vstoremedias.scss */
  .bar .margen .logo img {
    width: 80%;
  }
  /* line 132, ../saas/vstoremedias.scss */
  .bar .margen .menu {
    display: block;
    float: right;
    width: 70%;
    padding-top: 0.5em;
  }

  /* line 141, ../saas/vstoremedias.scss */
  .banner {
    position: relative;
  }
  /* line 143, ../saas/vstoremedias.scss */
  .banner .izq {
    float: left;
    width: 60%;
    height: 100%;
  }
  /* line 148, ../saas/vstoremedias.scss */
  .banner .te {
    padding-top: 4em;
    font-size: 2em;
  }
  /* line 151, ../saas/vstoremedias.scss */
  .banner .te .sub {
    font-size: 1.5em;
  }
  /* line 155, ../saas/vstoremedias.scss */
  .banner .der {
    float: right;
    width: 40%;
    height: 100%;
  }
  /* line 160, ../saas/vstoremedias.scss */
  .banner .der .mano {
    display: block;
    position: absolute;
    bottom: 0;
    right: 3em;
  }
  /* line 166, ../saas/vstoremedias.scss */
  .banner .der .mano img {
    max-width: 80%;
  }

  /* line 173, ../saas/vstoremedias.scss */
  .rombo {
    padding-top: 2em;
  }
  /* line 175, ../saas/vstoremedias.scss */
  .rombo .columna {
    vertical-align: top;
    width: 50%;
    display: inline-block;
  }
  /* line 180, ../saas/vstoremedias.scss */
  .rombo .columna2 {
    vertical-align: top;
    width: 40%;
    display: inline-block;
  }

  /* line 187, ../saas/vstoremedias.scss */
  .alianzas .tit {
    font-size: 2.5em;
  }
  /* line 191, ../saas/vstoremedias.scss */
  .alianzas .cont .col1 {
    width: 40%;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
  }
  /* line 197, ../saas/vstoremedias.scss */
  .alianzas .cont .col2 {
    margin-left: 4em;
    vertical-align: top;
    width: 40%;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
  }

  /* line 207, ../saas/vstoremedias.scss */
  .beneficios {
    height: 50%;
  }
  /* line 210, ../saas/vstoremedias.scss */
  .beneficios .cont p {
    font-size: 1em;
  }

  /* line 219, ../saas/vstoremedias.scss */
  .exito .tit {
    font-size: 2.5em;
  }
  /* line 223, ../saas/vstoremedias.scss */
  .exito .cont .col {
    width: 15%;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
  }

  /* line 233, ../saas/vstoremedias.scss */
  .cupon .col {
    width: 40%;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
  }
  /* line 239, ../saas/vstoremedias.scss */
  .cupon .col2 {
    padding-top: 6em;
    width: 40%;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
  }

  /* line 249, ../saas/vstoremedias.scss */
  .info .cont .col1 {
    width: 30%;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
  }
  /* line 255, ../saas/vstoremedias.scss */
  .info .cont .col2 {
    text-align: right;
    width: 50%;
    display: inline-block;
  }
  /* line 259, ../saas/vstoremedias.scss */
  .info .cont .col2 .tit {
    font-size: 1.5em;
  }

  /* --------------------------- FIN INDEX ---------------------------- */
  /* --------------------------- CARACTERÍSTICAS Y BENEFICIOS ---------------------------- */
  /* line 267, ../saas/vstoremedias.scss */
  .banner2 {
    height: 7em;
  }

  /* line 272, ../saas/vstoremedias.scss */
  .titulo {
    text-align: center;
  }
  /* line 274, ../saas/vstoremedias.scss */
  .titulo .tit {
    color: #d7d7d7;
    font-size: 2.5em;
    margin: 0;
    padding-top: 1.4em;
  }
  /* line 279, ../saas/vstoremedias.scss */
  .titulo .tit .punto {
    color: #fc5935;
    margin: 0;
  }
  /* line 284, ../saas/vstoremedias.scss */
  .titulo .sub {
    color: #4c4c4c;
    font-size: 1em;
  }
  /* line 287, ../saas/vstoremedias.scss */
  .titulo .sub .aqui {
    color: #fc5935;
  }

  /* line 292, ../saas/vstoremedias.scss */
  .separador {
    padding-top: 2em;
  }
  /* line 294, ../saas/vstoremedias.scss */
  .separador hr {
    color: #ebebeb;
    width: 85%;
  }

  /* line 299, ../saas/vstoremedias.scss */
  .rombo {
    padding-top: 2em;
  }
  /* line 301, ../saas/vstoremedias.scss */
  .rombo .columna {
    vertical-align: top;
    width: 50%;
    display: inline-block;
  }
  /* line 306, ../saas/vstoremedias.scss */
  .rombo .columna2 {
    vertical-align: top;
    width: 40%;
    display: inline-block;
  }

  /* --------------------------- FIN CARACTERÍSTICAS Y BENEFICIOS ---------------------------- */
  /* --------------------------- COMPONENTES ---------------------------- */
  /* line 315, ../saas/vstoremedias.scss */
  .compi {
    padding-top: 2em;
  }
  /* line 317, ../saas/vstoremedias.scss */
  .compi .columna {
    text-align: center;
    width: 25%;
    display: inline-block;
  }

  /* --------------------------- FIN COMPONENTES ---------------------------- */
}
/* Large devices (large desktops, 1200px and up) */
