/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* line 14, ../saas/vstoremedias.scss */
  .bar {
    height: 6em;
  }
  /* line 16, ../saas/vstoremedias.scss */
  .bar .margen {
    padding-left: 3em;
    padding-right: 3em;
  }
  /* line 19, ../saas/vstoremedias.scss */
  .bar .margen .logo {
    width: 30%;
    float: left;
    padding-top: 0.5em;
  }
  /* line 24, ../saas/vstoremedias.scss */
  .bar .margen .menu {
    display: block;
    float: right;
    width: 70%;
    padding-top: 0.5em;
  }

  /* line 33, ../saas/vstoremedias.scss */
  .banner {
    position: relative;
  }
  /* line 35, ../saas/vstoremedias.scss */
  .banner .izq {
    float: left;
    width: 60%;
    height: 100%;
  }
  /* line 40, ../saas/vstoremedias.scss */
  .banner .te {
    padding-top: 4em;
    font-size: 2em;
  }
  /* line 43, ../saas/vstoremedias.scss */
  .banner .te .sub {
    font-size: 1.5em;
  }
  /* line 47, ../saas/vstoremedias.scss */
  .banner .der {
    float: right;
    width: 40%;
    height: 100%;
  }
  /* line 52, ../saas/vstoremedias.scss */
  .banner .der .mano {
    display: block;
    position: absolute;
    bottom: 0;
    right: 3em;
  }
  /* line 58, ../saas/vstoremedias.scss */
  .banner .der .mano img {
    max-width: 80%;
  }

  /* line 64, ../saas/vstoremedias.scss */
  .rombo {
    padding-top: 2em;
  }
  /* line 66, ../saas/vstoremedias.scss */
  .rombo .columna {
    vertical-align: top;
    width: 50%;
    display: inline-block;
  }
  /* line 71, ../saas/vstoremedias.scss */
  .rombo .columna2 {
    vertical-align: top;
    width: 40%;
    display: inline-block;
  }

  /* line 78, ../saas/vstoremedias.scss */
  .alianzas .tit {
    font-size: 2.5em;
  }
  /* line 82, ../saas/vstoremedias.scss */
  .alianzas .cont .col1 {
    width: 40%;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
  }
  /* line 88, ../saas/vstoremedias.scss */
  .alianzas .cont .col2 {
    margin-left: 4em;
    vertical-align: top;
    width: 40%;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
  }

  /* line 99, ../saas/vstoremedias.scss */
  .beneficios .col {
    width: 45%;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
  }

  /* line 108, ../saas/vstoremedias.scss */
  .exito .tit {
    font-size: 2.5em;
  }
  /* line 112, ../saas/vstoremedias.scss */
  .exito .cont .col {
    width: 15%;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
  }

  /* line 121, ../saas/vstoremedias.scss */
  .ganancias {
    padding-left: 20%;
    padding-right: 20%;
  }
  /* line 124, ../saas/vstoremedias.scss */
  .ganancias .uno {
    font-size: 1.8em;
  }
  /* line 128, ../saas/vstoremedias.scss */
  .ganancias .dos {
    font-size: 1.4em;
  }
  /* line 131, ../saas/vstoremedias.scss */
  .ganancias .nar {
    color: #ea4703;
  }

  /* line 136, ../saas/vstoremedias.scss */
  .cupon .col {
    width: 40%;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
  }
  /* line 142, ../saas/vstoremedias.scss */
  .cupon .col2 {
    padding-top: 6em;
    width: 40%;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
  }

  /* line 152, ../saas/vstoremedias.scss */
  .info .cont .col1 {
    width: 50%;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
  }
  /* line 158, ../saas/vstoremedias.scss */
  .info .cont .col2 {
    text-align: right;
    width: 30%;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
  }
}
/* Large devices (large desktops, 1200px and up) */
