html {
  font-family: sans-serif;
}

img{
  max-width:100%;
  height: auto;
}

body,html{
  height: 100%;
}

a{
  text-decoration: none;
  &:visited{
    color:#818181;
  }
  &:hover{
    color:#ea4703;
  }
    
}
.tit {
  line-height: 1em;
}
section {
  padding-top: 2em;
  padding-bottom: 2em;
}
.margenes{
  width: 80%;
  background-color: red;
  left: 0%;
  right: 0%;
  margin-left: auto;
  margin-right: auto;

}

.bar{
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    z-index: 99;
    width: 100%;
    .margen{
      padding-left: 3em;
      padding-right: 3em;
      .logo{
        max-width: 250px;
        padding-top: 0.2em; 
        width: 100%;
        float: left;
      }
      .menu{
        
        width: 80%;      
        color: #818181;
        font-size: 1em;
        overflow: hidden;
        padding-top: 1.5em;
        li{
         
          padding-right: 1em;
          list-style:none;
          float: right;
        }
      }
    }
}
.bannerContainer {
  height: 60%;
  /*background-color: yellow;*/
}
.banner{
  /*display: none;*/
  background-image: url(../../img/banner.svg); 
  background-size: cover;
  background-position: center;
  height: 100%;
  background-repeat:no-repeat;
  position: relative;
}
.banner2{
  display: none;
  background-image: url(../../img/banner22.png); 
  background-color: red;
  background-size: cover;
  background-position: center;
  height: 100%;
  background-repeat:no-repeat;
  position: relative;
}
.banner3{
  display: none;
  background-image: url(../../img/banner3.png); 
  background-color: purple;
  background-size: cover;
  background-position: center;
  height: 100%;
  background-repeat:no-repeat;
  position: relative;
}

  .te{
    text-align: center;
    padding-top: 3em;
      color: white;
      float: left;
      font-size:  2em;
      line-height: 1em;
      .sub{
        font-size: 1em;
        line-height: 1em;
        font-weight: 100;
      }
    }
.rombo{
  margin-top: 1em;
  text-align: left;
  clear: both;
  position: relative;
  overflow: hidden;
 
  .columna{    
    float:center;
    padding: 0.5em;
    .tit{
      font-size:2.5em;
      color:#fc5935;
    }
    .sub{
      font-size: 2em;
      color: #757575;
      line-height: 1em;
    }
  }
}
.alianzas{
  background-color: #f8f8f8;
  .tit{
    font-size: 2em;
    color:#757575;
    .sub{
      color: #fc5935;
    }
  }
  .cont{
    clear: both;
    position: relative;
    overflow: hidden;
    .col1{
      padding: 0.5em;
      .tit{
        font-size: 1.4em;
      }
      .texto{
        padding-left: 1.2em;
        color: #757575;
      }
    }
    .col2{
      padding: 0.5em;
      .tit{
        font-size: 1.4em;
      }
      .texto{
        padding-left: 1.2em;
        color: #757575;
      }
    }
  }
}
.beneficios{
  background-image: url(../../img/banner2.png); 
  background-size: cover;
  background-repeat:no-repeat;
  position: relative;
 
  .tit{
    font-size: 2em;
    color:#757575;
    .sub{
      color: #fc5935;
    }
  }
  .cont{
    clear: both;
    position: relative;
    overflow: hidden;
    p{
        color: white;
        font-size: 0.8em;
        padding-top: 8%;
        padding-left: 42%;
        line-height: 1.3em;
      }
    .col1{
      padding-bottom: 1em;
      margin-top: 1em;
      background-image: url(../../img/beneficio1.png); 
      background-size: 100%;
      background-repeat:no-repeat;
      position: relative;      
    }
    .col2{
      padding-bottom: 1em;
      margin-top: 1em;
      background-image: url(../../img/beneficio2.png); 
      background-size: 100%;
      background-repeat:no-repeat;
      position: relative;      
    }
    .col3{
      padding-bottom: 1em;
      margin-top: 1em;
      background-image: url(../../img/beneficio3.png); 
      background-size: 100%;
      background-repeat:no-repeat;
      position: relative;      
    }
    .col4{
      padding-bottom: 1em;
      margin-top: 1em;
      background-image: url(../../img/beneficio4.png); 
      background-size: 100%;
      background-repeat:no-repeat;
      position: relative;      
    }
  }
}
.exito{
  background-color: #ffffff;

  
  .tit{
    font-size: 2em;
    color:#757575;
    .sub{
      color: #fc5935;
    }
  }
  .cont{
    text-align: center;
    clear: both;
    position: relative;
    overflow: hidden;
    .col{
      padding: 0.5em;
    }
  }
}

.cupon{
  padding: 11%;
  background-color: #f6f6f6;
  padding-top: 2em;
    text-align: center;
    clear: both;
    position: relative;
    overflow: hidden;
   
    .col{
      float:center;
      padding: 0.5em;
    }
    .col2{  
      vertical-align: top;
      float:center;
      padding: 0.5em;
      .texto{
        text-align: left;
        color: #696969;
        line-height: 1.3em;
        .nar{
          color: #ea4703;
        }

      }
    } 
  
}
.info{
  background-color: #dfdfdf;
  padding-left: 11%;
  padding-top: 2em;
  padding-right: 11%;
  .cont{
    clear: both;
    position: relative;
    overflow: hidden;
    .col1{
       vertical-align: top;
     .tit{
      color: white;
      font-size: 2em;
     }
    }
    .col2{
      float:center;
      padding: 0.5em;
      color: #a8a8a8;
      .tit{
        color: #6f6f6f;
        font-size: 1em;
        .sub{
          font-size: 1.5em;
        }
      }
    }
  }
}


.titulo{
  text-align: center;
  .tit{
    color: #d7d7d7;
    font-size: 1.5em;
    margin:0;
    padding-top: 1.4em;
    .punto{
      color: #fc5935;
      margin:0;
    }
  }
  .sub{
    color: #4c4c4c;
    font-size: 0.6em;
    .aqui{
      color: #fc5935;
    }
  }
}
.separador{
  padding-top: 1em;
  hr{
    color: #ebebeb;
    width: 85%;
  }
}
.contenido{
  padding: 11%;
  text-align: left;
  clear: both;
  position: relative;
  overflow: hidden;
  .nar{
    color: #fc5935;
  }
  .tit{
    text-align: center;
    color: #fc5935;
    font-size: 1.4em;
  }
  .columna{    
    text-align: center;
    float:center;
    padding: 0.5em;
  }
  .columna2{
    color: #4c4c4c;
    line-height: 1.6em;
    ul{
      color: #4c4c4c;
      font-size: 1em;
      ul{
        color: #8f8f8f;
      }
    }
  }
  .componentes{    
    text-align: center;
    float:center;
    padding: 0.5em;
    .espacio{
      padding-top: 2em;
    }
  }
}



.compi{
  padding-left: 30%;
  padding-right: 30%;
  text-align: center;
  clear: both;
  position: relative;
  overflow: hidden;
  .columna{    
    text-align: center;
    float:center;
    padding: 0.5em;
  }
  p{
    font-size: 0.9em;
    color:#818181;
  }
}

.sop{
  text-align: center;
  padding-top: 2em;
  .datos{
    color: #ea4703;
    font-size: 1.5em;
  }
  .nombre{
    font-size: 1.5em;
  }
  .sub{
    font-size: 0.6em;
    color: #ea4703;
  }
  .mail{
    color: #717171;
  }
  .tel{
    color: #717171;
    font-size: 1.3em;
  }
}

.distri{
  hr{
    color: #ebebeb;
  }
  .space{
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .tit{
    color: #ea4703;
    font-size: 1.5em;
  }
  .ciudad{
    color: #555555;
    font-size: 1.2em;
  }
  .dir{
    font-size: 0.7em;
  }
  .datos{
    line-height: 1.4em;
    color: #555555;
    .tel{
      color: #ea4703;
    }
  }

}



.distri{
  table{
    width: 100%;
    .check{
      font-size: 1.6em;
    }
    .tab1{
      height: 3em;
      color: white;
      text-align: center;
      background-color: #ea4703;
    }
    .cont1{
      height: 4em;
      text-align: center;
      .first{
        text-align: left;
      }
    }
    .cont2{
      background-color: #f1f1f1;
      height: 4em;
      text-align: center;
      .first{
        text-align: left;
      }
    }
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer{
  font-size: 0.7em;
  text-align: center;
  color: gray;
  padding: 1em;
}
  


    
  