html {
  font-family: sans-serif;
}

img{
  max-width:100%;
  height: auto;
}

body,html{
  height: 100%;
}

.margenes{
  width: 80%;
  background-color: red;
  left: 0%;
  right: 0%;
  margin-left: auto;
  margin-right: auto;

}

.bar{
    background-color: rgba(255, 255, 255, 1);
    height:4em;   
    position: absolute;
    z-index: 99;
    width: 100%;
    .margen{
      padding-left: 3em;
      padding-right: 3em;
      .logo{
        padding-top: 0.2em; 
        width: 100%;
        float: left;
      }
      .menu{
        display: none;
        width: 70%;      
        color: #818181;
        font-size: 1em;
        overflow: hidden;
        li{
         
          padding-top: 1em;
          padding-right: 7%;
          list-style:none;
          float: right;
        }
      }
    }
}
.banner{
  background-image: url(../../img/banner.png); 
  background-size: cover;
  height: 80%;
  background-repeat:no-repeat;
  position: relative;
  min-height: 90%;
  .izq{
    float: left;
    width: 100%;
    height: 100%;
    padding-top: 7em;

  }
  .te{
      color: white;
      float: left;
      font-size:  1.2em;
      line-height: 1.3em;
      .sub{
        font-size: 1.9em;
        line-height: 1em;
      }
    }
  .der{
    float: right; 
    width: 50%;
    height: 100%;
    .mano{
      display: none;
      position: absolute;
      bottom: 0;
      right: 3em;

      img{
        max-width: 80%;
      }
    }
  }
}
.rombo{
  padding: 7%;
  margin-top: 1em;
  text-align: left;
  clear: both;
  position: relative;
  overflow: hidden;
 
  .columna{    
    float:center;
    padding: 0.5em;
    .tit{
      font-size: 1.5em;
      color:#fc5935;
    }
    .sub{
      font-size: 2em;
      color: #757575;
    }
  }
}
.alianzas{
  padding: 7%;
  background-color: #f8f8f8;
  .tit{
    font-size: 2em;
    color:#757575;
    .sub{
      color: #fc5935;
    }
  }
  .cont{
    clear: both;
    position: relative;
    overflow: hidden;
    .col1{
      padding: 0.5em;
      .tit{
        font-size: 1.4em;
      }
      .texto{
        padding-left: 1.2em;
        color: #757575;
      }
    }
    .col2{
      padding: 0.5em;
      .tit{
        font-size: 1.4em;
      }
      .texto{
        padding-left: 1.2em;
        color: #757575;
      }
    }
  }
}
.beneficios{
  padding: 7%;
  background-image: url(../../img/banner2.png); 
  background-size: cover;
  height: 100%;
  background-repeat:no-repeat;
  position: relative;
  min-height: 30%;
  .tit{
    font-size: 2em;
    color:#757575;
    .sub{
      color: #fc5935;
    }
  }
  .cont{
    clear: both;
    position: relative;
    overflow: hidden;
    p{
        color: white;
        font-size: 0.8em;
        padding-top: 7%;
        padding-left: 42%;
        line-height: 1.3em;
      }
    .col1{
      padding-bottom: 1em;
      margin-top: 1em;
      background-image: url(../../img/beneficio1.png); 
      background-size: 100%;
      background-repeat:no-repeat;
      position: relative;      
    }
    .col2{
      padding-bottom: 1em;
      margin-top: 1em;
      background-image: url(../../img/beneficio2.png); 
      background-size: 100%;
      background-repeat:no-repeat;
      position: relative;      
    }
    .col3{
      padding-bottom: 1em;
      margin-top: 1em;
      background-image: url(../../img/beneficio3.png); 
      background-size: 100%;
      background-repeat:no-repeat;
      position: relative;      
    }
    .col4{
      padding-bottom: 1em;
      margin-top: 1em;
      background-image: url(../../img/beneficio4.png); 
      background-size: 100%;
      background-repeat:no-repeat;
      position: relative;      
    }
  }
}
.exito{
  padding: 7%;
  background-color: #ffffff;

  
  .tit{
    font-size: 2em;
    color:#757575;
    .sub{
      color: #fc5935;
    }
  }
  .cont{
    text-align: center;
    clear: both;
    position: relative;
    overflow: hidden;
    .col{
      padding: 0.5em;
    }
  }
}

.cupon{
  padding: 7%;
  background-color: #f6f6f6;
  padding-top: 2em;
    text-align: center;
    clear: both;
    position: relative;
    overflow: hidden;
   
    .col{
      float:center;
      padding: 0.5em;
    }
    .col2{  
      vertical-align: top;
      float:center;
      padding: 0.5em;
      .texto{
        text-align: left;
        color: #696969;
        line-height: 1.3em;
        .nar{
          color: #ea4703;
        }

      }
    } 
  
}
.info{
  background-color: #dfdfdf;
  padding-left: 7%;
  padding-top: 2em;
  padding-right: 7%;
  .cont{
    clear: both;
    position: relative;
    overflow: hidden;
    .col1{
       vertical-align: top;
     .tit{
      color: white;
      font-size: 2em;
     }
    }
    .col2{
      float:center;
      padding: 0.5em;
      color: #a8a8a8;
      .tit{
        color: #6f6f6f;
        font-size: 1em;
        .sub{
          font-size: 1.5em;
        }
      }
    }
  }
}
footer{
  font-size: 0.7em;
  text-align: center;
  color: white;
  background-color: #484848;
  padding: 1em;
}
  


    
  